/* Theme: mblabs-notebook */
/* Author: BACOU, Melanie <mel@mbacou.com> */
/* Version: v1.0.0 */
/* Date: 2024-01-31 */

/*-- scss:defaults --*/

$white:     #ffffff;
$black:     #090909;

$blue:      #3daee9;
$indigo:    #9b59b6;
$purple:    #98796f;
$pink:      #aea39a;
$red:       #da4453;
$orange:    #f67400;
$yellow:    #edcd37;
$green:     #27ae60;
$teal:      #445e64;
$cyan:      #789494;

$dark:      #222e32;
$light:     #f9f9f9;

$gray:      #d6d6d7;
$gray-100:  #f9f9f9;
$gray-200:  #d6d6d7;
$gray-300:  #bdbdbd;
$gray-400:  #a3a3a3;
$gray-500:  #8a8a8a;
$gray-600:  #717171;
$gray-700:  #717171;
$gray-800:  #3d3d3d;
$gray-900:  #242424;

$primary:   $teal;
$secondary: $cyan;

$min-contrast-ratio: 2.6;

$body-color: $black;
$body-bg: darken($light, 4%);
$shaded: $light;
$link-color: mix($indigo, $blue);
$text-muted: lighten($body-color, 40%);
$secondary-color: $text-muted;
$code-color: $text-muted;
$blockquote-small-color: $text-muted;

$border-color: rgba($gray, 75%);
$border-radius-sm: 0.25rem;
$border-radius: 0.25rem;
$border-radius-lg: 0.50rem;
$enable-rounded: true;
$hr-border-color: $border-color;

$nav-link-padding-x: 0.75rem;
$nav-link-padding-y: 0.15rem;
$nav-link-font-size: 1.25rem;

$table-cell-padding: .25rem;
$table-cell-padding-sm: .25rem;
$table-striped-bg: darken($body-bg, 2%);
$table-border-color: darken($body-bg, 2%);

$thumbnail-border-width: 0;
$thumbnail-border-radius: $border-radius;
$thumbnail-border-color: $border-color;

$input-color: $text-muted;
$input-bg: $light;
$input-btn-padding-y: .15rem;
$input-placeholder-color: $input-color;
$input-border-color: $border-color;
$input-disabled-bg: darken($input-bg, 4%);
$input-group-addon-bg: darken($input-bg, 4%);

$breadcrumb-active-color: $body-color;
$component-active-bg: rgba($link-color, 12%);

$jumbotron-bg: $light;
$label-margin-bottom: .05rem;
$list-group-bg: $input-bg;
$list-group-border-color: $input-border-color;
$list-group-hover-bg: lighten($component-active-bg, 20%);
$modal-content-bg: $input-bg;
$modal-content-border-color: $border-color;
$nav-tabs-border-color: $border-color;

$pagination-bg: $input-bg;
$pagination-border-color: $border-color;
$pagination-color: $input-color;
$pagination-disabled-bg: $input-disabled-bg;
$pagination-hover-color: $white;
$progress-bg: $input-bg;

$card-bg: $white;
$card-cap-bg: rgba($border-color, 10%);
$card-border-width: 0;
$card-border-color: $border-color;
$card-border-radius: $border-radius;

$font-family-base: "Merriweather";
$font-sans-serif: "Roboto Condensed";
$font-monospace: "Roboto Mono";
$headings-font-family: "Oswald";
$font-weight-bold: 500;
$headings-font-weight: 300;
$small-font-size: .9rem;


/*-- scss:rules --*/

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;500&family=Roboto+Condensed:wght@300;400;500&family=Roboto+Mono:wght@400&family=Oswald:wght@300;400');

b, strong {
  font-weight: 500;
}
h1, h2 {
  font-weight: 400;
}
h3, h4, h5 {
  font-weight: 400;
}
h2, h4 {
  color: $text-muted;
}
blockquote, .blockquote {
  color: $body-color;
}
blockquote small, .blockquote small {
  font-family: $font-sans-serif;
  color: $text-muted;
  font-size: 1rem;
}
pre code {
  font-family: $font-monospace;
  font-size: .85rem;
  color: $text-muted;
}
p code:not(.sourceCode), li code:not(.sourceCode), td code:not(.sourceCode) {
  font-family: $font-monospace;
  font-size: .85rem;
  color: $body-color;
  background-color: transparent;
}
.code-with-filename .code-with-filename-file {
  background-color: $border-color;
}
.quarto-title-banner .quarto-title .title {
  font-weight: normal;
}
.quarto-title {
  margin-bottom: .5rem;
}
.quarto-title-banner .quarto-title .title {
  font-weight: 300;
  font-size: 2.5rem;
  color: rgba($body-color, 90%);
  margin-top: 1rem;
}
h5.card-title {
  font-family: $headings-font-family;
  font-size: 1.5rem;
  font-weight: 400;
}
h2 {
  border-bottom: solid 1px $border-color;
}
.lead {
  font-family: $font-sans-serif;
  font-weight: 300;
  color: $gray-500;
  font-size: 1.5rem;
}
.abstract {
  color: $text-muted;
  margin-bottom: 1rem;
}
.description {
  font-weight: 400;
  color: rgba($body-color, 75%);
  font-size: 1.25rem;
  margin-bottom: 1rem;
}
#title-block-header.quarto-title-block.default .quarto-title-meta-heading,
#title-block-header.quarto-title-block.default .abstract .block-title,
#quarto-appendix.default .quarto-appendix-heading, #toc-title, details>summary {
  font-family: $font-sans-serif;
  font-size: .95rem;
  font-weight: 500;
  text-transform: uppercase;
  color: $purple;
  margin-top: 1rem;
  opacity: 1;
}
#quarto-appendix.default {
  background: none;
}
div.quarto-post .metadata {
  font-size: 1rem;
}
.nav-footer {
  font-family: $font-sans-serif;
}
.nav-footer .nav-footer-left, .nav-footer .nav-footer-right, .nav-footer .nav-footer-center {
  font-size: unset;
}
.quarto-grid-item .card-attribution, .listing-author, .date, .date-modified {
  color: $text-muted;
}
.action-links {
  font-family: $headings-font-family;
  color: $text-muted;
  font-weight: 400;
}
h5.quarto-listing-category-title,
#quarto-margin-sidebar h5.quarto-listing-category-title {
  font-family: $headings-font-family;
  font-weight: 400;
  text-transform: uppercase;
  color: $purple;
}
#quarto-margin-sidebar .quarto-listing-category-title {
  font-weight: unset;
  font-size: unset;
  cursor: unset;
}
.card {
  border-bottom: solid $border-color 2px;
}
.card-img-top {
  background-color: $light;
  border-radius: $border-radius;
}
.quarto-grid-item .card-text {
  font-size: unset;
  margin-top: .5rem;
}
.quarto-grid-item .card-text-small {
  font-size: .9rem;
}
.quarto-grid-item .card-title {
  margin-bottom: 1rem;
}
.quarto-grid-item .card-attribution {
  font-weight: unset;
}
.listing-date {
  font-family: $font-sans-serif;
  font-weight: 500;
  color: $purple;
}
.listing-file-modified, .listing-author {
  font-family: $font-sans-serif;
  color: $text-muted;
}
div.sourceCode, pre.sourceCode {
  background-color: $input-bg;
  line-height: 20px;
}
#quarto-appendix.default .quarto-appendix-bibtex, .sourceCode .bibtex,
#quarto-appendix.default .quarto-appendix-citeas {
  font-family: $font-monospace;
  font-size: .85rem;
  color: $text-muted;
  border: none;
  background: transparent;
}
.quarto-title .quarto-categories {
  padding-bottom: unset;
  margin-top: 1rem;
}
.quarto-title .quarto-categories .quarto-category,
.quarto-grid-item .listing-categories .listing-category,
div.quarto-post .listing-categories .listing-category {
  font-family: $headings-font-family;
  font-size: .9rem;
  font-weight: 400;
  text-transform: uppercase;
  border: none;
  color: $gray-500;
  background-color: $light;
  opacity: 1;
}
.table {
  border-top: none;
  border-radius: 0;
}
.table>thead {
  border-bottom: 2px solid $body-color;
}
th {
  font-family: $font-sans-serif;
  font-weight: 400;
}
.small th {
  font-size: 1rem;
}
.table>:not(caption)>*>* {
  padding: 0.2rem 0.5rem 0.05rem 0.5rem;
}
.table-sm>:not(caption)>*>* {
  padding: 0.1rem 0.5rem 0 0.5rem;
}
caption, .panel-caption, .figure-caption, .subfigure-caption, .table-caption,
figcaption, .column-margin figcaption,
.margin-caption, div.aside, aside, .column-margin {
  font-family: $font-sans-serif;
  font-size: 1rem;
  color: $text-muted;
}
caption, .table-caption {
  padding: 0.25rem 0 0.5rem;
  text-align: left;
}
.callout.callout-style-default, .callout.callout-style-simple {
  border: none;
  border-left: 3px solid $primary;
  background-color: $input-bg;
}
.callout.callout-style-simple .callout-body,
.callout.callout-style-default .callout-body {
  font-size: unset;
}
.quarto-sidebar-toggle {
  background: none;
  border: none;
}
.quarto-sidebar-toggle-title {
  background: $light;
  padding: 0.5rem;
}
nav.sidebar.sidebar-navigation:not(.rollup) {
  background-color: transparent;
}
.nav-link {
  font-family: $font-sans-serif;
}
.sidebar nav[role=doc-toc]>ul li a {
  font-size: 1rem;
  line-height: 20px;
  color: $text-muted;
}
.sidebar nav[role=doc-toc] ul>li>a.active,
.sidebar nav[role=doc-toc] ul>li>ul>li>a.active {
  border-left-width: 2px;
}

// Utilities
.shaded {
  background-color: $shaded;
}
.striped {
  background-image: linear-gradient(45deg,
  $shaded 25%, transparent 25%, transparent 50%,
  $shaded 50%, $shaded 75%, transparent 75%, transparent);
  background-size: 1rem 1rem;
}
.img-thumbnail {
  padding: 0;
}
.img-fluid {
  border-radius: $border-radius;
}
.img-rounded {
  border-radius: 6rem;
}
.parallax-container {
  position: relative;
}
.parallax-image-container {
  background-image: url(./www/banner/ru-map.jpg);
  height: 200px;
  opacity: 1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

// Quarto layout fixes
.navbar .nav-item .nav-link {
  font-family: $font-sans-serif;
  font-weight: 400;
  color: lighten($black, 8%);
  border-radius: $border-radius;
  margin-right: 0.25em;
}
.navbar .nav-link:hover {
  color: $black;
  background-color: rgba($body-bg, 90%);
}
.navbar .nav-link.active {
  color: $black;
  background-color: rgba($light, 90%);
}
.navbar-brand {
  font-family: $headings-font-family;
  margin-left: 1em;
  margin-right: 3em;
  font-weight: 400;
  color: $purple;
  font-size: 1.5rem;
}
#title-block-header {
  padding-bottom: 1rem;
  margin-block-end: 0;
}
#quarto-header>nav {
  padding-left: 0;
  padding-right: 0;
}
.quarto-title-banner {
  padding-top: 2rem;
  padding-bottom: 1rem;
  margin-bottom: 0;
}
#quarto-content>* {
  padding-top: 0;
  margin-top: 0;
}
.sidebar-navigation {
  padding-left: unset;
}
.column-margin {
  padding-left: 2em;
}
.column-margin.column-container p {
    margin-bottom: 1rem;
}
